@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-display: swap;
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src: local($font-family), url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff");
  }
}

@mixin center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin cover {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin retina {
  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 144dpi) {
    @content;
  }
}

%clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin placecolor($color-placecolor: $c-dark) {
  &::-webkit-input-placeholder {
    color: $color-placecolor;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $color-placecolor;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: $color-placecolor;
    opacity: 1;
  }
}

$maxWidth: 1280;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

@mixin media-up($value) {
  @media only screen and (min-width: $value * 1px) {
    @content;
  }
}

@mixin media-down($value) {
  @media only screen and (max-width: $value * 1px) {
    @content;
  }
}
